{% extends "shop/base.html" %}
{% load static %}
{% load pagination_tags %}
{% block content %}
<div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url('{% static 'shop/img/banners/banner-2.jpg' %}');">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Blog</h2>
            <ul>
                <li><a href="{% url 'shop:index' %}">Home</a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-md-8">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-wrapper mb-30 gray-bg">
                            <div class="blog-img hover-effect">
                                <a href="{% url 'blog:blog_details' post.id %}"><img alt="{{ post.title }}" src="{{ post.cover_image.url }}"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li>By: <span>{{ post.author.username }}</span></li>
                                        <li>{{ post.published_date|date:"F d, Y" }}</li>
                                    </ul>
                                </div>
                                <h4><a href="{% url 'blog:blog_details' post.id %}">{{ post.title }}</a></h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination-style text-center mt-10">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}">
                                <i class="icon-arrow-left"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% get_pagination_range page_obj as pagination_range %}
                        {% for page_num in pagination_range %}
                            {% if page_num == '...' %}
                                <li><span>...</span></li>
                            {% else %}
                                <li {% if page_num == page_obj.number %}class="active"{% endif %}>
                                    <a href="?page={{ page_num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}">
                                        {{ page_num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}">
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="shop-sidebar blog-mrg">
                    <div class="shop-widget">
                        <h4 class="shop-sidebar-title">Search</h4>
                        <div class="shop-search mt-25 mb-50">
                            <form class="shop-search-form" method="GET" action="{% url 'blog:blog' %}">
                                <input type="text" name="q" placeholder="Find a post">
                                <button type="submit"><i class="icon-magnifier"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="shop-widget mt-50">
                        <h4 class="shop-sidebar-title">Category</h4>
                        <div class="shop-list-style mt-20">
                            <ul>
                                {% for category in categories %}
                                <li><a href="{% url 'blog:blog' %}?category={{ category.slug }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="shop-widget mt-50">
                        <h4 class="shop-sidebar-title">Tags</h4>
                        <div class="shop-list-style mt-20">
                            <ul>
                                {% for tag in tags %}
                                <li><a href="{% url 'blog:blog' %}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="shop-widget mt-50">
                        <h4 class="shop-sidebar-title">Recent Post</h4>
                        <div class="recent-post-wrapper mt-25">
                            {% for post in recent_posts %}
                            <div class="single-recent-post mb-20">
                                <div class="recent-post-img">
                                    <a href="{% url 'blog:blog_details' post.id %}"><img src="{{ post.cover_image.url }}" alt="{{ post.title }}"></a>
                                </div>
                                <div class="recent-post-content">
                                    <h4><a href="{% url 'blog:blog_details' post.id %}">{{ post.title }}</a></h4>
                                    <span>{{ post.published_date|date:"F d, Y" }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}