{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url('{% static 'shop/img/banners/banner-2.jpg' %}');">
<div class="container">
<div class="breadcrumb-content text-center">
    <h2>My Account</h2>
    <ul>
        <li><a href="{% url 'shop:index' %}">home</a></li>
        <li class="active">My Account</li>
    </ul>
</div>
</div>
</div>
<!-- my account start -->
<div class="my-account-area pt-100 pb-70">
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="checkout-wrapper">
            <div id="faq" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span>1</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-1">Your account information</a></h5>
                    </div>
                    <div id="my-account-1" class="panel-collapse collapse show">
                        <div class="panel-body">
                            <div class="billing-information-wrapper">
                                <div class="account-info-wrapper">
                                    <h4>My Account Information</h4>
                                    <h5>Your Personal Details</h5>
                                </div>
                                <form method="post" action="{% url 'shop:logout' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>First Name</label>
                                                <input type="text" value="{{ user.first_name }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Last Name</label>
                                                <input type="text" value="{{ user.last_name }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info">
                                                <label>Email Address</label>
                                                <input type="email" value="{{ user.email }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Telephone</label>
                                                <input type="text" value="{{ user.profile.telephone }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Fax</label>
                                                <input type="text" value="{{ user.profile.fax }}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="billing-back-btn">
                                        <div class="billing-back">
                                            <a href="#"><i class="ti-arrow-up"></i> back</a>
                                        </div>
                                        <div class="billing-btn">
                                            <button type="submit">Logout</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span>2</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-2">Change your account information</a></h5>
                    </div>
                    <div id="my-account-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="billing-information-wrapper">
                                <div class="account-info-wrapper">
                                    <h4>Change Account Information</h4>
                                    <h5>Your Personal Details</h5>
                                </div>
                                <form method="post" action="{% url 'shop:update_account' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>First Name</label>
                                                <input type="text" name="first_name" value="{{ user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Last Name</label>
                                                <input type="text" name="last_name" value="{{ user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info">
                                                <label>Email Address</label>
                                                <input type="email" name="email" value="{{ user.email }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Telephone</label>
                                                <input type="text" name="telephone" value="{{ user.profile.telephone }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Fax</label>
                                                <input type="text" name="fax" value="{{ user.profile.fax }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="billing-back-btn">
                                        <div class="billing-back">
                                            <a href="#"><i class="ti-arrow-up"></i> back</a>
                                        </div>
                                        <div class="billing-btn">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span>3</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-3">Modify your address book entries</a></h5>
                    </div>
                    <div id="my-account-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="billing-information-wrapper">
                                <div class="account-info-wrapper">
                                    <h4>Address Book Entries</h4>
                                </div>
                                <form method="post" action="{% url 'shop:update_address' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info">
                                                <label>Address</label>
                                                <input type="text" name="address" value="{{ user.profile.address }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>City</label>
                                                <input type="text" name="city" value="{{ user.profile.city }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info">
                                                <label>Zip/Postal Code</label>
                                                <input type="text" name="zip_code" value="{{ user.profile.zip_code }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info">
                                                <label>Country</label>
                                                <input type="text" id="countryInput" name="country" value="{{ user.profile.country }}" readonly>
                                                <div id="countryDropdown" class="dropdown-content">
                                                    {% for country in countries %}
                                                        <div class="dropdown-item" onclick="selectCountry('{{ country }}')">{{ country }}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="billing-back-btn">
                                        <div class="billing-back">
                                            <a href="#"><i class="ti-arrow-up"></i> back</a>
                                        </div>
                                        <div class="billing-btn">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span>4</span> <a href="{% url 'shop:wishlist' %}">Modify your wish list</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
