{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url('{% static 'shop/img/banners/banner-2.jpg' %}');">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Order Created</h2>
            <ul>
                <li><a href="{% url 'shop:index' %}">home</a></li>
                <li class="active">Order Created</li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-95 pb-70">
    <div class="container text-center">
        <h3 class="page-title">Thank you for your order!</h3>
        <p>Your order has been created successfully. Your order ID is <strong>{{ order.id }}</strong>.</p>
        <div class="billing-btn">
            <a href="{% url 'shop:index' %}" style="color: #7e4c4f;">Continue Shopping</a>
        </div>
    </div>
</div>
{% endblock %}
